<%- include('../partials/header') %>


<div class="flex max-w-lg mx-auto my-32 md:h-screen">
    <form action="/shop/<%= product._id %>/comments" method="POST" class="w-full bg-white px-3">
        <h4 class="text-2xl md:text-3xl font-bold text-center mb-6">Leave a review</h4>

        <div class="border border-red-300 p-4 h-40">
            <textarea class="w-full appearance-none bg-transparent border-none focus:outline-none" name="comment[text]" placeholder='Did you like your purchase?' required></textarea>
        </div>

        <div class="mt-4">
            <button class="py-1 px-4 bg-green-400 hover:bg-green-600 focus:outline-none text-white font-medium rounded-lg tracking-wide">Submit</button>

            <a class="float-right text-blue-500" href="/shop/<%= product._id %> ">Go back</a>    
        </div>
    </form>
</div>

<%- include('../partials/footer') %>