<%- include('partials/header') %>

<main>
    <header>
        <div class="h-screen w-full bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1588063765533-8c50d519194b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);">
            <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-25">
                <div class="text-center">
                    <h1 class="text-3xl font-semibold uppercase md:text-6xl text-white text-shadow-xl">
                        The Perfect Styles <br> For Your <span class="underline text-yellow-400">Kids</span>
                    </h1>

                    <button class="mt-4 px-6 py-2 sm:text-sm lg:text-base uppercase font-medium rounded-full bg-white text-red-600 focus:outline-none animate-bounce">
                        <a class="mx-1" href="/shop">
                            <i class="p-1 fas fa-shopping-bag"></i>
                            Shop now
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- Featured picks -->
    <section class="bg-white">
        <div class="container mx-auto px-6 py-20">
            <div>
                <h2 class="text-lg md:text-xl text-center uppercase text-gray-600">Top for this month 
                <br>
                <span class="uppercase font-extrabold text-2xl md:text-3xl text-gray-800">Our featured picks</span></h2>
            </div>

            <div class="flex items-center justify-center">
                <div class="grid gap-8 md:grid-cols-3 mt-8">
                    <!-- Babies Collection-->
                    <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mx-auto">
                        <img class="w-full h-56 object-cover" src="https://images.unsplash.com/photo-1544388405-6f0e0c3cdf54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="avatar">
                        
                        <div class="py-5 text-center text-xl">
                            <a href="#" class="block text-gray-800 font-bold">Babies</a>
                            <span class="text-gray-700">New collection</span>
                        </div>
                    </div>   

                    <!-- Toddlers Collection-->
                    <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mx-auto">
                        <img class="w-full h-56 object-cover" src="https://www.cdc.gov/ncbddd/childdevelopment/sm/sm-toddler-girl-pig-tails-600x300.jpg" alt="avatar">
                        
                        <div class="py-5 text-center text-xl">
                            <a href="#" class="block text-gray-800 font-bold">Toddlers</a>
                            <span class="text-gray-700">New collection</span>
                        </div>
                    </div>   

                    <!-- Accessories Collection -->
                    <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mx-auto">
                        <img class="w-full h-56 object-cover" src="https://www.dhresource.com/f2/albu/g10/M00/C2/A5/rBVaWV3qsheANPNxAAE8ylHZRO4960.jpg" alt="avatar">
                        
                        <div class="py-5 text-center text-xl">
                            <a href="#" class="block text-gray-800 font-bold">Accessories</a>
                            <span class="text-gray-700">Sale of 20%</span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </section>

    <!-- Toddlers collection -->
    <section class="bg-gray-300">
        <div class="container mx-auto px-6 py-20">
            <div>
                <h2 class="text-lg md:text-xl text-center uppercase text-gray-600">
                    Summer choice
                <br>
                    <span class="uppercase font-extrabold text-2xl md:text-3xl text-red-800">
                        Toddler collection
                    </span>
                </h2>
            </div>

            <div class="flex items-center justify-center">
                <div class="grid gap-8 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 mt-8">
                    <div class="max-w-xs w-full text-center">
                        <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/flagged/photo-1571530765629-4efdab448a6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="avatar"/>
                        

                        <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-yellow-500 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            <a href="/shop">Get this look</a>
                        </button>                    
                    </div>
        
                    <div class="max-w-xs w-full text-center">    
                        <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1502810217690-b2aa88e35100?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80"
                        alt="avatar"/>

                        <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-red-700 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            <a href="/shop">Get this look</a>
                        </button>                    

                    </div>
    
                    <div class="max-w-xs w-full text-center">
                        <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1503944583220-79d8926ad5e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="avatar"/>
                    
                        <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-green-700 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            <a href="/shop">Get this look</a>
                        </button>                    

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Old Collection -->
    <section class="bg-gray-800 lg:py-12 lg:flex lg:justify-center">
        <div class="bg-gray-800 lg:max-w-5xl lg:shadow-lg p-8">
            <div class="text-center">
                <h2 class="text-white text-2xl lg:text-4xl font-hairline mt-4">Old Collection</h2>
                <h2 class="text-red-300 text-4xl lg:text-6xl font-extrabold uppercase">Huge Sales</h2>
                <h2 class="text-white text-3xl lg:text-5xl font-hairline">At our outlet stores</h2>    
            </div>

            <p class="mt-4 text-gray-600 text-lg text-justify">Bear claw tart apple pie fruitcake sugar plum. Chocolate carrot cake sesame snaps candy macaroon bear claw oat cake. Liquorice marshmallow macaroon soufflé topping pie chocolate cake. Gingerbread fruitcake tart marshmallow gummi bears. Muffin jelly caramels gummies carrot cake. Fruitcake brownie muffin liquorice caramels sugar plum cotton candy.</p>
            
            <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-red-500 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                <a href="/shop">Shop now</a>
            </button>                    
        </div>
    </section> 

    <!-- Subscribe -->
    <section>
        <div class="h-screen w-full bg-cover bg-center" style="background-image: url(https://res.cloudinary.com/mommy-nearest/image/upload/c_fill,h_450,w_800/cyndfyqglhlgjxzm88qk.jpg);">
            <div class="flex items-center justify-center h-full w-full bg-white bg-opacity-50">
                <div class="text-center">
                    <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold capitalize text-gray-800">Subscribe to a season of style</h1>

                    <p class="max-w-2xl font-semibold text-xl md:text-2xl">Become a member with an opt-in subscription. Simply complete a profile & we will automatically personalize a box with sizes that grow along with your child.</p>

                    <button class="mt-4 px-8 py-2 text-sm uppercase font-medium rounded-full bg-red-600 text-white focus:outline-none">
                        Yes, I'm in!
                    </button>
                </div>
            </div>
        </div>
    </section>

</main>

<%- include('partials/footer') %>