<%- include('partials/header') %>

<main>
    <header>
        <div class="h-screen w-full bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1588063765533-8c50d519194b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);">
            <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-25">
                <div class="text-center">
                    <h1 class="text-3xl font-semibold uppercase md:text-6xl text-white text-shadow-xl">
                        The Perfect Styles <br> For Your <span class="underline text-yellow-400">Kids</span>
                    </h1>

                    <button class="mt-4 px-6 py-2 sm:text-sm lg:text-base uppercase font-medium rounded-full bg-white text-red-600 focus:outline-none">
                        <i class="p-1 fas fa-shopping-bag"></i>
                        <a class="mx-1" href="/shop">Shop now</a>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- Featured picks -->
    <section class="bg-white">
        <div class="container mx-auto px-6 py-20">
            <div>
                <h2 class="text-lg md:text-xl text-center uppercase text-gray-600">Top for this month 
                <br>
                <span class="uppercase font-extrabold text-2xl md:text-3xl text-gray-800">Our featured picks</span></h2>
            </div>

            <div class="flex items-center justify-center">
                <div class="grid gap-8 md:grid-cols-3 mt-8">
                    <!-- Babies Collection-->
                    <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mx-auto">
                        <img class="w-full h-56 object-cover" src="https://images.unsplash.com/photo-1544388405-6f0e0c3cdf54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="avatar">
                        
                        <div class="py-5 text-center text-xl">
                            <a href="#" class="block text-gray-800 font-bold">Babies</a>
                            <span class="text-gray-700">New collection</span>
                        </div>
                    </div>   

                    <!-- Toddlers Collection-->
                    <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mx-auto">
                        <img class="w-full h-56 object-cover" src="https://www.cdc.gov/ncbddd/childdevelopment/sm/sm-toddler-girl-pig-tails-600x300.jpg" alt="avatar">
                        
                        <div class="py-5 text-center text-xl">
                            <a href="#" class="block text-gray-800 font-bold">Toddlers</a>
                            <span class="text-gray-700">New collection</span>
                        </div>
                    </div>   

                    <!-- Accessories Collection -->
                    <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mx-auto">
                        <img class="w-full h-56 object-cover" src="https://www.dhresource.com/f2/albu/g10/M00/C2/A5/rBVaWV3qsheANPNxAAE8ylHZRO4960.jpg" alt="avatar">
                        
                        <div class="py-5 text-center text-xl">
                            <a href="#" class="block text-gray-800 font-bold">Accessories</a>
                            <span class="text-gray-700">Sale of 20%</span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </section>

    <!-- Toddlers collection -->
    <section class="bg-gray-300">
        <div class="container mx-auto px-6 py-20">
            <div>
                <h2 class="text-lg md:text-xl text-center uppercase text-gray-600">
                    Summer choice
                <br>
                    <span class="uppercase font-extrabold text-2xl md:text-3xl text-red-800">
                        Toddler collection
                    </span>
                </h2>
            </div>

            <div class="flex items-center justify-center">
                <div class="grid gap-8 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 mt-8">
                    <div class="max-w-xs w-full text-center">
                        <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/flagged/photo-1571530765629-4efdab448a6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="avatar"/>
                        

                        <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-yellow-500 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            <a href="/shop">Get this look</a>
                        </button>                    
                    </div>
        
                    <div class="max-w-xs w-full text-center">    
                        <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1502810217690-b2aa88e35100?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80"
                        alt="avatar"/>

                        <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-red-700 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            <a href="/shop">Get this look</a>
                        </button>                    

                    </div>
    
                    <div class="max-w-xs w-full text-center">
                        <img class="h-48 w-full object-cover object-center mx-auto rounded-lg" src="https://images.unsplash.com/photo-1503944583220-79d8926ad5e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="avatar"/>
                    
                        <button class="flex items-center mx-auto my-4 py-2 px-4 capitalize tracking-wide bg-green-700 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            <a href="/shop">Get this look</a>
                        </button>                    

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Old Collection -->
    <section class="bg-gray-800 lg:py-12 lg:flex lg:justify-center">
        <div class="bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
            <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                <h2 class="text-gray-100 text-2xl lg:text-3xl font-hairline mt-4">Old Collection</h2>
                <h2 class="text-red-300 text-4xl lg:text-6xl font-extrabold uppercase">Huge Sales</h2>
                <h2 class="text-gray-100 text-3xl lg:text-5xl font-hairline">At our outlet stores</h2>

                <p class="mt-4 text-gray-600 text-justify">Bear claw tart apple pie fruitcake sugar plum. Chocolate carrot cake sesame snaps candy macaroon bear claw oat cake. Liquorice marshmallow macaroon soufflé topping pie chocolate cake. Gingerbread fruitcake tart marshmallow gummi bears. Muffin jelly caramels gummies carrot cake. Fruitcake brownie muffin liquorice caramels sugar plum cotton candy.</p>
                
                <div class="mt-8">
                    <a href="/shop" class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded hover:bg-gray-800">Shop Now</a>
                </div>
            </div>

            <div class="lg:w-1/2">
                <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('https://images.unsplash.com/photo-1533222481259-ce20eda1e20b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')"></div>
            </div>
        </div>
    </section> 

    <!-- Subscribe -->
    <section>
        <div class="h-screen w-full bg-cover bg-center" style="background-image: url(https://res.cloudinary.com/mommy-nearest/image/upload/c_fill,h_450,w_800/cyndfyqglhlgjxzm88qk.jpg);">
            <div class="flex items-center justify-center h-full w-full bg-white bg-opacity-50">
                <div class="text-center">
                    <h1 class="text-2xl md:text-4xl font-bold capitalize text-gray-800">Subscribe to a season of style</h1>

                    <p class="max-w-2xl font-semibold text-xl">Become a member with an opt-in subscription. Simply complete a profile & we will automatically personalize a box with sizes that grow along with your child.</p>

                    <button class="mt-4 px-6 py-2 text-sm uppercase font-medium rounded-full bg-red-600 text-white focus:outline-none">
                        Yes, I'm in!
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-gray-800">
        <div class="container mx-auto px-6 pt-16">
            <div class="lg:flex lg:pb-12">
                <div class="w-full lg:w-2/5 -mx-6">
                    <div class="px-6">
                        <div>
                            <a href="#" class="text-xl font-bold text-white hover:text-gray-400">Dorema's Place</a>
                        </div>
                        
                        <p class="mt-2 text-gray-400 max-w-md">Brownie powder powder croissant icing icing lollipop croissant cheesecake. Fruitcake I love wafer I love I love chocolate cake.</p>
                        
                        <div class="flex mt-4 -mx-2">
                            <a href="#" class="mx-2 text-white hover:text-gray-400" aria-label="Linkden">
                                <svg class="h-4 w-4 fill-current" viewBox="0 0 512 512">
                                    <path d="M444.17,32H70.28C49.85,32,32,46.7,32,66.89V441.61C32,461.91,49.85,480,70.28,480H444.06C464.6,480,480,461.79,480,441.61V66.89C480.12,46.7,464.6,32,444.17,32ZM170.87,405.43H106.69V205.88h64.18ZM141,175.54h-.46c-20.54,0-33.84-15.29-33.84-34.43,0-19.49,13.65-34.42,34.65-34.42s33.85,14.82,34.31,34.42C175.65,160.25,162.35,175.54,141,175.54ZM405.43,405.43H341.25V296.32c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76V405.43H209.38V205.88h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64Z"/>
                                </svg>
                            </a>

                            <a href="#" class="mx-2 text-white hover:text-gray-400" aria-label="Facebook">
                                <svg class="h-4 w-4 fill-current" viewBox="0 0 512 512">
                                    <path d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z"/>
                                </svg>
                            </a>

                            <a href="#" class="mx-2 text-white hover:text-gray-400" aria-label="Twitter">
                                <svg class="h-4 w-4 fill-current" viewBox="0 0 512 512">
                                    <path d="M496,109.5a201.8,201.8,0,0,1-56.55,15.3,97.51,97.51,0,0,0,43.33-53.6,197.74,197.74,0,0,1-62.56,23.5A99.14,99.14,0,0,0,348.31,64c-54.42,0-98.46,43.4-98.46,96.9a93.21,93.21,0,0,0,2.54,22.1,280.7,280.7,0,0,1-203-101.3A95.69,95.69,0,0,0,36,130.4C36,164,53.53,193.7,80,211.1A97.5,97.5,0,0,1,35.22,199v1.2c0,47,34,86.1,79,95a100.76,100.76,0,0,1-25.94,3.4,94.38,94.38,0,0,1-18.51-1.8c12.51,38.5,48.92,66.5,92.05,67.3A199.59,199.59,0,0,1,39.5,405.6,203,203,0,0,1,16,404.2,278.68,278.68,0,0,0,166.74,448c181.36,0,280.44-147.7,280.44-275.8,0-4.2-.11-8.4-.31-12.5A198.48,198.48,0,0,0,496,109.5Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mt-6 lg:mt-0 lg:ml-4 lg:flex-1">
                    <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
                        <div>
                            <h3 class="text-white uppercase font-bold">Shop</h3>
                            <a href="#" class="block mt-2 text-sm text-gray-400">For Infants</a>
                            <a href="#" class="block mt-2 text-sm text-gray-400">For Toddlers</a>
                            <a href="#" class="block mt-2 text-sm text-gray-400">Matching Sets</a>
                        </div>

                        <div>
                            <h3 class="text-white uppercase font-bold">Company</h3>
                            <a href="https://github.com/ntochi" class="block mt-2 text-sm text-gray-400">About</a>
                            <a href="/login" class="block mt-2 text-sm text-gray-400">Login</a>
                            <a href="/register" class="block mt-2 text-sm text-gray-400">Register</a>
                        </div>

                        <div>
                            <h3 class="text-white uppercase font-bold">Contact</h3>
                            <span class="block mt-2 text-sm text-gray-400">+1 526 654 8965</span>
                            <span class="block mt-2 text-sm text-gray-400">example@email.com</span>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="h-px my-3 bg-gray-700 border-none">

            <div class="flex flex-col sm:flex-row justify-between items-center px-6 py-6">
                <p class="text-center text-white">© 2020 Dorema's Place All Rights Reserved.</p>

                <ul class="flex text-white text-2xl">
                    <li class="m-2">
                        <i class="fab fa-cc-visa"></i>
                    </li>

                    <li class="m-2">
                        <i class="fab fa-cc-mastercard"></i>
                    </li>

                    <li class="m-2">
                        <i class="fab fa-cc-paypal"></i>
                    </li>

                    <li class="m-2">
                        <i class="fab fa-apple-pay"></i>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</main>

<%- include('partials/footer') %>