<%- include('../partials/header.ejs') %>
    
    <div class="max-w-xl bg-white shadow-lg rounded-lg overflow-hidden mx-auto m-4">
        <img class="w-full h-48 object-cover" src="https://images.unsplash.com/photo-1597113117918-eb40fe0b84e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="avatar">
        
        <div class="py-3 text-center">
            <h2 class="text-center font-bold text-gray-700 text-2xl">Welcome Back Name!</h2>
        </div>

        
        <div class="container mx-auto px-6 pb-8">
            <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
                <div class="text-center">    
                    <h1 class="mt-4 font-semibold text-xl text-gray-800">Your Orders</h1>
    
                    <p class="mt-2 text-gray-600">Shopping cart & checkout</p>
                </div>
    
                <div class="text-center">    
                    <h1 class="mt-4 font-semibold text-xl text-gray-800">Login & Security</h1>
                    
                    <div class="mt-1">
                        <a href="/login" class="text-blue-600 font-bold mx-2 text-sm hover:text-blue-500">Login</a>

                        <a href="/logout" class="text-blue-600 font-bold mx-2 text-sm hover:text-blue-500">Sign Out</a>    
                        
                        <a href="/register" class="text-blue-600 font-bold mx-2 text-sm hover:text-blue-500">Register</a>    
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>