<%- include('../partials/header.ejs') %>
    
    <div class="max-w-xl bg-white shadow-lg rounded-lg overflow-hidden mx-auto m-4">
        <img class="w-full h-64 object-cover" src="https://images.unsplash.com/photo-1483193722442-5422d99849bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="avatar">
        
        <div class="py-3 text-center">
            <% if (currentUser) { %>
    
                <h2 class="text-center font-bold text-gray-700 text-3xl">
                    Hello <%= currentUser.username %>
                </h2>

            <% } else { %>

                <h2 class="text-center font-bold text-gray-700 text-3xl">
                    Hi there!
                </h2>
                
            <% } %> 
        </div>

        
        <div class="container px-6 pb-8">
            <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
              <div class="text-center">    
                <h1 class="mt-2 font-semibold text-2xl text-gray-800">Login & Security</h1>
                
                <div class="mt-4">
                    <% if (!currentUser){ %> 
                        <a href="/login" class="text-blue-600 font-bold mx-2 text-md hover:underline">Login</a>
                        
                        <a href="/register" class="text-blue-600 font-bold mx-2 text-md hover:underline">Register</a>    
                    <% } else { %> 
                        <a href="/logout" class="text-blue-600 font-bold mx-2 text-md hover:underline">Sign Out</a>    
                    <% } %> 
                </div>
              </div>

                <div class="text-center">    
                    <h1 class="mt-2 font-semibold text-2xl text-gray-800">Your Orders</h1>
    
                    <div class="mt-4">
                        <a href="/cart" class="text-blue-600 font-bold mx-2 text-md hover:underline">View Cart</a>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center">
                <button class="bg-blue-500 hover:bg-transparent text-white font-semibold hover:text-blue-700 py-2 px-3 mt-6 border hover:border-blue-700 hover:border-transparent rounded-full">
                    <a href="/shop">Continue Shopping</a>
                </button>        
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>